body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500svh;
    text-align: center;
}
div{
    background-color: aliceblue;
    border: 5px;
}
button{
    color: blue;
}
h1{
   color: blue;
}