/*.container{
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
body{
    background-color: yellow;

.box{
    width: 350px;
    height: 350px;
    flex-shrink: 0;
}
.box-1,
.box-3,
.box-5{
    background-color: green;
}
.box-2,
.box-4,
.box-6{
    background-color: blue;
}
/*.header{
    border: 5px solid black;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    border: 5px solid yellow;
    display: flex;
}*/
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 5px solid yellow;
    gap: 10px;
}
.box{
    /*width: 350px;*/
    height: 350px;
}
.box-2{
    grid-column-start: -3;
    grid-column-end: -1;
}
.box-1,
.box-3,
.box-5{
    background-color: green;
}
.box-2,
.box-4,
.box-6{
    background-color: blue;
}