.card{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin: auto;
}
.up{
    gap: 10px;
    margin-bottom: 50px;
}
.down{
    justify-content: space-between;
}
.card{
    border-radius: 10px;
    border: 5px solid black;
}