.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    width: 80%;
    margin: auto;
}
img,
.card{
    border: 5px solid black;
    /*width: fit-content;*/
}
.card{
    border-radius: 10px;
}
.up{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.down{
    display: flex;
    justify-content: space-between;
}